.DS_Store
Datasets/news.csv
Python/.idea
Python/__pycache__/
Python/venv/
Latex/thesis_src/thesis.acn
Latex/thesis_src/thesis.aux
Latex/thesis_src/thesis.bbl
Latex/thesis_src/thesis.blg
Latex/thesis_src/thesis.dvi
Latex/thesis_src/thesis.fdb_latexmk
Latex/thesis_src/thesis.fls
Latex/thesis_src/thesis.glo
Latex/thesis_src/thesis.ist
Latex/thesis_src/thesis.lof
Latex/thesis_src/thesis.log
Latex/thesis_src/thesis.out
Latex/thesis_src/thesis.lot
Latex/thesis_src/thesis.slo
Latex/thesis_src/thesis.synctex.gz
Latex/thesis_src/thesis.toc
Latex/thesis_src/thesis.xdv
Obsolete/
Code/Machine Learning Model/logic/test
Code/Machine Learning Model/logic/datasets/FANG-COVID_DATASET
Code/Machine Learning Model/logic/datasets/fake_news_dataset_german.csv
