@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#analyse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    padding: 10px;
    border: 2px solid;
    border-radius: 8px;     /* optional: abgerundete Ecken */
    /* background-color:#fff0f0; optional: dezenter Hintergrund */
  }

#analyse-paragraph {
    font-family: 'Roboto', sans-serif;
    /* color: red; */
    font-weight: bold;
    text-align: center;
    font-size: 30px;
  }
  